# PYTHON OPERATORS

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

# Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

In [1]:
#Addition
x=5
y=3
print(x+y)

8

In [2]:
#Subtracction
print(x-y)

2

In [3]:
#Multiplication
print(x*y)

15

In [4]:
#division
print(x/y)

1.6666666666666667

In [5]:
#Modulo
print(x%y)

2

In [6]:
#Exponential
print(x**y)

125

In [7]:
#Floor division
print(x//y)

1

# PYTHON ASSIGNMENT OPERATORS
Assignment operators are used to assign values to variables:

In [9]:
#=EQUALTO OPERATOR
x=5
print(x)

5

In [10]:
#+= 
x=5
x+=3
print(x)

8

In [17]:

x=5
x-=3
print(x)

2

In [14]:

x=5
x*=3
print(x)

15

In [15]:
x=5
x/=3
print(x)

1.6666666666666667

In [16]:
x=5
x%=3
print(x)

2

In [18]:
x=5
x//=3
print(x)

1

In [19]:
x=5
x**=3
print(x)

125

In [22]:
x=5
x&=3 #x=x&3
print(x)

1

In [23]:
x=5
x|=3 
print(x)

7

In [24]:
x=5
x^=3 
print(x)

6

In [25]:
x=5
x>>=3 
print(x)

0

In [26]:
x=5
x<<=3 
print(x)

40

# PYTHON COMPARISON OPERATOR
Comparison operators are used to compare two values:

In [27]:
#equal
x = 5
y = 3

print(x == y)

False

In [28]:
#not equal
x = 5
y = 3

print(x!=y)

True

In [29]:
#greater than
x = 5
y = 3

print(x>y)

True

In [30]:
#Less than
x = 5
y = 3

print(x<y)

False

In [31]:
#greater than or  equal to

x = 5
y = 3

print(x>=y)

True

In [32]:
#Less than  or equal to

x = 5
y = 3

print(x<=y)

False

# PYTHON LOGICAL OPERATORS
Logical operators are used to combine conditional statements
and 	- Returns True if both statements are true	
or	- Returns True if one of the statements is true		
not	- Reverse the result, returns False if the result is true

In [33]:
x = 5
print(x > 3 and x < 10)

True

In [34]:
x = 5

print(x > 3 or x < 4)

True

In [2]:
x = 5

print(not(x > 3 and x < 10))

False

# PYTHON IDENTITY OPERATOR
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

is-Returns True if both variables are the same object
isnot-Returns True if both variables are not the same object

In [37]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [38]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Python Membership Operators
Membership operators are used to test if a sequence is presented in an object
in-  Returns True if a sequence with the specified value is present in the object	
notin-  Returns True if a sequence with the specified value is not present in the object

In [39]:
x = ["apple", "banana"]

print("banana" in x)

True

In [40]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

# Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers
Operator	Name	                     Description
& 	        AND	                         Sets each bit to 1 if both bits are 1
|	        OR	                         Sets each bit to 1 if one of two bits is 1
 ^	        XOR	                          Sets each bit to 1 if only one of two bits is 1
~ 	        NOT	                          Inverts all the bits
<<  	Zero fill left shift	          Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	   Signed right shift	            Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [44]:
5&5

5

In [45]:
2|2

2

In [46]:
2^4

6

In [49]:
~2

-3

In [52]:
x<<2

20

In [53]:
x>>2

1